body{
    background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
}
.container{
    background-color: rgba(0, 255, 255, 0.168);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 8px;
    
}
img{
    margin: 15px 0; 
}
input[type='submit']{
    width: 3rem;
    background-color: coral;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: capitalize;

}
input[type='text']{
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid orange;
    background: transparent;
    margin-right: 5px;
}